
<style>


.parent {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

/*nav*/
.nav-parent  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ebefef;
  padding: 50px 50px 30px 50px}

.JD {
  max-width: 10%;
  flex: 1;
}


.logo a {
  color: black;
  font-family: 'PT Serif', serif;
  font-weight: 400;
}

.logo a:hover {
  color: #c6b5bd;
}

.logo, .navigation {
    list-style: none;
    text-transform: uppercase;
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.logo a, .navigation a {
    text-decoration: none;
    letter-spacing: .15rem;
}

ul.navigation {
  margin-left: 0;
}

.navigation {
  display:flex;
}

img.logo {
  max-width: 20%;
}

.navigation a {
  display: block;
  padding: 1em;
  color: black;
}

#work-link:hover {
  color: #bdb5d4;
}

#about-link:hover {
  color: #764d2e;
}

#resume-link:hover {
  color: #f3dee6;
}

#contact-link:hover {
  color: #bdb9d9;
}

/********/

#work {
  background-color: white;
  padding-top: 35px;
}

#work .row {
    justify-content: space-around;
    flex: 1;
    padding: 0px 10px 25px 10px;
}

#work h1 {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 32px;
}

#work h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}

#work p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  line-height: 2;
  font-size: 16px;


}

video {
  margin: 20px 25px 30px 20px;
  width: 95%;
}

#work img{
  box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
}

.hov {
  position: relative;
  padding: 0;
  width: 100%;
  display: block;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%)
}

.content {
  opacity: 0;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #6D7189;
  width: 100%;
  height: 100%;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
  margin-bottom: 25px;
}

.hov .content:hover {
  opacity: 1;
}

.hov .content .text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
  font-size: 24px;
  color: white;
  font-weight: 900;
  position: relative;
  top: 35%;
}

.hov .content .text-multiple {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
  font-size: 24px;
  color: white;
  font-weight: 900;
  position: relative;
  top: 10%;
}

.hov .content:hover .text {
  opacity: 1;
  transform: translateY(250px);
  -webkit-transform: translateY(250px);
  text-align: center;
}

/*about*/
#about .row {
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding-left: 8%;
  border-top: solid 1px #e0dfde;
}

#about p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 25px;
  padding-right: 20%;

}

#about h1 {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  max-width: 80%;

}

.social-contianer {
  display: flex;
}

.desc img {
  height: 60px;
  margin-right: 30px;
}


/*resume*/
#resume {
  background-image: url('../img/tester.png');
  background-size: contain;
  background-color: #ebefef;
  padding: 70px 0 100px 0;
  background-repeat: no-repeat;

}

#resume .row {
  text-align: center;
  font-family: "henriette", sans-serif;
  justify-content: center;
  align-items: stretch;
}

.card-display {
  background: white;
  padding: 20px 10px 30px 10px;
  margin: 30px 20px 0 20px;
  box-shadow: 0 2px 0 rgb(36 43 46 / 31%);
}

#resume h1 {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 32px;
}

#resume p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 16px;
  margin-bottom: 0;
}

#resume span {
  font-weight: 700;
}


span.purple {
  color: #b8b4d2;
}

span.mauve {
  color: #c6b6bc;
}

span.brown {
  color: #846042;
}

span.dark-purple {
  color: #6D7189;
}


/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .nav-parent {
    flex-direction: column;
  }

  .logo {
    margin: 0;
  }

  .navigation {
    width: 100%;
    justify-content: space-around;
  }

  #work .row {
    justify-content: center;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
  }

  .desc {
    padding: 50px 50px 0px 50px;
    justify-content: center;
  }

  .personal-photograph {
    padding: 0;
  }

  #work .row h1 {
    margin-top: 25px;
  }

  #about .row .col-xs-12 {
    text-align: center;
  }

  #about h2 {
    max-width: 100%;
  }

  #about h1 {
    max-width: 100%;
  }
  .social-container {
    margin-bottom: 45px;
    text-align: center;
  }

  #resume .row {
      padding: 10px 15% 0px 15%;
  }

  .card-display {
    margin-bottom: 25px;
  }

  #resume {
    background: #ebefef;
  }

}

/* ****** media queries, no desktop ****** */
@media all and (max-width: 600px) {
  .logo {
    margin: .25em 0;
    align-self: left; /* align the logo to the left side of 'flex-container' */
  }

  .logo a {
    font-weight: 600;
  }

  .navigation {
    flex-direction: column;
  }

  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .example .content .text { 
    font-size: 32px;
  }

}

</style>