.parent {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

/*nav*/
.nav-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ebefef;
  padding: 50px 50px 30px 50px;
  background: #6AC0C8;
}

.JD {
  max-width: 10%;
  flex: 1 0 auto;
}

.logo a {
  color: #041736;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
}

.logo,
.navigation {
  list-style: none;
  text-transform: uppercase;
  display: block;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.logo a,
.navigation a {
  text-decoration: none;
  letter-spacing: 0.15rem;
}

ul.navigation {
  margin-left: 0;
}

.navigation {
  display: flex;
}
.navigation a {
  display: block;
  padding: 1em;
  color: #041736;
}

img.logo {
  max-width: 20%;
}

a:hover {
  color: #2D90EB;
}

#work-link:hover {
  color: #F6E493;
}

#about-link:hover {
  color: #F6E493;
}

#resume-link:hover {
  color: #F6E493;
}

#contact-link:hover {
  color: #F6E493;
}

/* work section */
.work-section {
  padding-top: 35px;
}

.project {
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 25px;
}

#work {
  background-color: white;
}
#work h1 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #041736;
}
#work h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: #041736;
}
#work p {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  line-height: 2;
  font-size: 16px;
  color: #041736;
}
#work img {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

video {
  width: 100%;
}

.hov {
  position: relative;
  padding: 0;
  width: 100%;
  display: block;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.content {
  opacity: 0;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #041736;
  width: 100%;
  height: 100%;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
  margin-bottom: 25px;
}

.hov .content:hover {
  opacity: 1;
}

.hov .content .text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.8s;
  font-size: 24px;
  color: #F6E493;
  font-weight: 900;
  position: relative;
  top: 35%;
}

.hov .content .text-multiple {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
  font-size: 24px;
  color: #F6E493;
  font-weight: 900;
  position: relative;
  top: 10%;
}

.hov .content:hover .text {
  opacity: 1;
  transform: translateY(250px);
  -webkit-transform: translateY(250px);
  text-align: center;
  text-decoration: underline;
}

/*about*/
#about {
  text-align: center;
}
#about p {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 25px;
  color: #041736;
}
#about h1 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  color: #041736;
  padding-bottom: 20px;
}
#about img {
  width: 275px;
}

.about-section {
  padding-top: 35px;
  justify-content: space-around;
}

.info-basic {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#about p {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 25px;
  color: #041736;
}
#about h1 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  color: #041736;
  padding-bottom: 20px;
}

/*resume*/
.resume-section {
  padding-top: 35px;
  padding-bottom: 35px;
  justify-content: space-around;
}

.card-display {
  padding: 20px;
  background-color: white;
  border: 1px solid #E7E8EB;
  font-size: 0.9rem;
  border-radius: 4px;
  background: white;
  margin: 30px 20px 0 20px;
  text-decoration: none;
  border-right: 5px solid #F6E493;
  border-bottom: 5px solid #F6E493;
}

#resume h1 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  font-size: 28px;
  padding-bottom: 1rem;
  color: #041736;
}
#resume p {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  font-size: 16px;
  margin-bottom: 0;
  color: #041736;
}
#resume span {
  font-weight: 700;
  color: #041736;
}

/* Footer */
.footer-container {
  height: 300px;
  display: grid;
}

.social-container {
  background: #6EC9D1;
}

.social {
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0;
}
.social a {
  padding: 20px;
}
.social i {
  font-size: 50px;
}

.comeback {
  height: 200px;
  width: auto;
  position: relative;
  left: 80%;
  top: -35px;
}

/* *********** media queries, desktop *********** */
@media all and (max-width: 990px) {
  /* navigation */
  .nav-parent {
    flex-direction: column;
  }
  .logo {
    margin: 0;
  }
  .navigation {
    width: 100%;
    justify-content: space-around;
  }
  /* about */
  #about {
    text-align: center;
  }
}
/* ****** media queries, no desktop ****** */
@media all and (max-width: 600px) {
  /* nav */
  .logo {
    margin: 0.25em 0;
    align-self: left;
    /* align the logo to the left side of 'flex-container' */
  }
  .logo a {
    font-weight: 600;
  }
  .JD {
    max-width: 20%;
    height: auto;
  }
  .navigation {
    flex-direction: column;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
  /* footer */
  .comeback {
    left: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
