.dev {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: start;
    gap: 2.5rem;
    @media (min-width: 601px) {
       grid-template-columns: 1fr 1fr 1fr;
        text-align: left;
        justify-items: center;

    }
}

.project-tile {
    height: 295px;
    width: 100%;
    background: rgba(0, 145, 227, 0.45);
    border-radius: 1rem;
    margin-bottom: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-tile:hover {
    background: hsla(202, 100%, 45%, 0.75);
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.project-type {
    margin: 0;
}

.project-img {
    width: 100%;
}

.cta-link.projects {
    position: absolute;
}