.project-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1;
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding-inline-start: 28px;
    padding-inline-end: 28px;
    @media (min-width: 601px) {
        padding-inline-start: 58px;
        padding-inline-end: 58px;
        padding-top: 60px;
        grid-template-columns: 3fr 5fr;
        grid-template-rows: 1;
        align-content: center;
        gap: 60px;


    }
}

.project-tile-single {
    width: 345px;
    height: 286px;
    display: flex;
    background: rgba(0, 145, 227, 0.45);
    border-radius: 16px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    @media (min-width: 601px) {
        width: 659px;
        height: 547px;
        margin-top: 0;
    }
}

.project-tile-text {
    text-align: center;
    @media (min-width: 601px) {
        text-align: left;
    }
}

.project-title {
    font-size: 36px;
}


.project-img-single {
    width: 100%;
}

.cta-link {
    width: 250px;
    text-align: center;
    height: 45px;
    background: #3DAA22;
    border-radius: 44px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #032559;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.cta-text {
    margin: 10px;
    color: #032559;
    text-transform: uppercase;
}

.cta-link:hover {
    background: #1f5911;
}

.cta-text:hover {
    color: white;
}


.project-link {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 800;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.project-link:hover {
    color: #032559;
}