.project-page {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    @media (min-width: 601px) {
        grid-template-columns: 2fr 2fr;
        grid-template-rows: auto;
        align-content: center;
        gap: 3.75rem;
    }
}

.project-tile-single {
    width: 100%;
    height: 90%;
    display: flex;
    background: rgba(0, 145, 227, 0.45);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    @media (min-width: 601px) {
        width: 100%;
        height: 100%;
    }
}

.project-tile-text {
    text-align: center;
    @media (min-width: 601px) {
        text-align: left;
    }
}

.project-title {
    font-size: 2.25rem;
}


.project-img-single {
    width: 100%;
}

.cta-link {
    width: 250px;
    height: 45px;
    text-align: center;
    background: #3DAA22;
    border-radius: 2.75rem;
    margin-bottom: 1.25rem;
    text-decoration: none;
    color: #032559;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.cta-text {
    margin: 0.625rem;
    color: #032559;
    text-transform: uppercase;
}

.cta-link:hover {
    background: #1f5911;
}

.cta-text:hover {
    color: white;
}


.project-link {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 800;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.project-link:hover {
    color: #032559;
}