.nav {
    align-items: center;
    font-family: Lato;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    flex-direction: column;
    text-align: center;
    padding: 25px 20;


    @media (min-width: 601px) {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding: 30px 50px;
    }
}

h1 {
    color: #1a1b1f;
    font-size: 24px;
    font-weight: 700;
}

.nav-links {
    display: flex;
}

.nav-item {
    opacity: .8;
    color: #1a1b1f;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 9px 20px;
    font-family: Lato,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    transition-duration: .15s;
    transition-property: background-color,color;
    transition-timing-function: ease-in-out;

    @media (min-width: 601px) {
        margin-inline-start: 2.188rem;
    }
}

.nav-item:hover {
    opacity: 1;
    font-weight: 700;
    transition: opacity .2s;

}

.active {
    color: #032559;
    opacity: 1;
    font-weight: 700;
    text-decoration: underline;
}

.active:hover {
    color: #1a1b1f;
    opacity: .8;
    font-weight: 900;
    transition: opacity .2s;

}
