.App {
  width: 100%;
  font-family: Lato;
}

section {
  display: grid;
  gap: 20px;
  padding-inline-start: 28px;
  padding-inline-end: 28px;
  padding-top: 80px;
  padding-bottom: 25px;

  @media (min-width: 601px) {
    padding: 70px 50px 0px 50px;
    align-items: center;
  }
}

p {
  color: #7d7d7f;
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

h1 {
  color: hsl(202, 100%, 45%);
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h2 {
  color: #032559;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h3 {
  color: #1a1b1f;
  font-family: Lato;
  font-style: normal;
  margin: 0px 0 0 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 34px;
}

h4 {
  font-family: Lato;
  color: rgb(26, 27, 31);
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
}

h5 {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  margin-top: 5px;
  color: #7d7d7f;
}

h5:hover {
  opacity: .6;
}

.icon {
  margin-inline-end: 15px;
  padding-top: 10px;
}